<div class="container-fluid">
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Reliable</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-expanded="false">
                  Dropdown
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
               </div>
            </li>
            <li class="nav-item">
               <a class="nav-link disabled">Disabled</a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
         </form>
      </div>
   </nav>
</div>

<div class="container mb-5">
   <div class="row d-flex justify-content-center" style="margin-top: 12px;">
      <h1>Reliable Pharmaceutical Service</h1>
   </div>
   <div class="row">
      <div class="budget pizza">
         <form action="/add-prescription" method="post">
            {{!-- <h2 class="d-flex justify-content-center">Add Prescription</h2> --}}
            <h2 class="d-flex">Add Prescription</h2>
            <div class="form-group">
               <label>Select patient:</label>
               <select class="form-control" style="width: 50%;" name="name">
                  <option>Choose patient:</option>
                  {{#each patients}}
                  <option>{{first_name}} {{last_name}}</option>
                  {{/each}}
               </select>
            </div>

            <div class="form-group">
               <label>Select Medicine:</label>
               <select class="form-control" style="width: 50%;" name="drug">
                  <option>Choose medicine:</option>
                  {{#each drugs}}
                  <option name="{{name}}">{{name}}</option>
                  {{/each}}
               </select>
            </div>

            {{!-- <div class="form-group">
               <label>Select Pharmacist:</label>
               <select class="form-control" style="width: 50%;" name="drug">
                  <option>Choose pharmacist:</option>
                  {{#each pharmacists}}
                  <option>{{first_name}} {{last_name}}</option>
                  {{/each}}
               </select>
            </div> --}}

            {{!-- <div class="form-group">
               <label>Dosage/Directions</label>
               <textarea class="form-control" style="width: 50%; text-align:left" name="dosage" focus=true></textarea>
            </div> --}}


            <div class="d-flex">
               <button class="btn btn-outline-light orderBtn" type="submit">Add</button>
            </div>
         </form>
      </div>

      <div class="budget pizza">
         <h2 class="d-flex">Case Manifest/Prescription Order</h2>

         <table>
            <thead>
               <tr>
                  {{!-- <th>ID</th> --}}
                  <th>Patient</th>
                  <th>Medicine</th>
                  <th>Dosage/directions</th>
                  <th>Action</th>

               </tr>
            </thead>

            {{#each prescriptions}}
            <tr>
               {{!-- <td>#{{id}}</td> --}}
               <td>{{patient_id}}</td>
               <td>{{drug_id}}</td>
               <td>{{dosage}}</td>
               <td>
                  <a href="/update-prescription/{{id}}" class="btn btn-outline-light orderBtn" type="submit">Update</a>
                  <a href="/delete-prescription/{{id}}" class="btn btn-outline-light btn-danger orderBtn"
                     type="submit">Delete</a>
               </td>

            </tr>
            {{/each}}

         </table>
         <div class="d-flex">
            <button class="btn btn-outline-light orderBtn" type="submit">Create order</button>
         </div>
      </div>
   </div>


   <div class="row">
      {{#each drugs}}
      <div class="col-3">
         <div class="card large mt-3">
            <img src="/images/three.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
               <h3>{{name}}</h3>
               <p class="card-text">Some quick example text</p>
               {{!-- <h5>R{{price}}</h5>
               <a href="/buy-large" class="btn btn-outline-light buyBtn" type="submit">Buy</a> --}}
            </div>
         </div>
      </div>
      {{/each}}
   </div>

   <!-- Button trigger modal -->
   {{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
   </button>

   <!-- Modal -->
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               ...
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Save changes</button>
            </div>
         </div>
      </div>
   </div> --}}


   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
      data-whatever="@mdo">Open modal for @mdo</button>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
      data-whatever="@fat">Open modal for @fat</button>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
      data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">New message</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form>
                  <div class="form-group">
                     <label for="recipient-name" class="col-form-label">Recipient:</label>
                     <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="form-group">
                     <label for="message-text" class="col-form-label">Message:</label>
                     <textarea class="form-control" id="message-text"></textarea>
                  </div>
               </form>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Send message</button>
            </div>
         </div>
      </div>
   </div>

</div>